.check-button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    cursor: none;
}

.checkbox-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition-timing-function: linear;
}

.main-book-two {
    position: absolute;
    top: 220px;
    left: 500px;
    backdrop-filter: blur(2px);
    height: 1000px;
    width: 500px;
}