/* //////////////////////////card///////////////////////////////////// */ */



 .part {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);

}

.part>* {
  grid-area: 1/1;
  transition: .4s;
}

.part span {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);

  margin: -1px;
}

.part:hover span {
  --_i: 0%;
}

