/* ////////////////////////POPUP-FORM/////////////////////// */



body {
  min-height: 100vh;
  display: grid;
  align-items: center;

}

.popup-form {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2E8BC0;
  border: none;
  box-shadow: 24px 44px 30px -29px rgba(0, 0, 0, 0.16),
    0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  border-radius: 20px;

  &>input {
    flex: 1 1 10ch;
    margin: .5rem;
    border: no;

    &[type="number"] {
      flex: 3 1 30ch;
    }
  }
}

.popup-button {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  background: hotpink;
  color: white;
  box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  transition: 200ms ease-in;


}

.popup-button:hover {
  scale: 0.8;
}

#cancel-mark {
  margin-left: 750px;
  transition: 100ms ease-in;
  cursor: pointer;
}

#cancel-mark:hover {
  color: #E31837;
  scale: 1.2;
}

#download {
  cursor: pointer;
  color: blue;
  transition: 100ms ease-in;
}

#download:hover {
  scale: 1.2;
  color: green;
}